@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;
@import '~@openmrs/esm-styleguide/src/vars';

.topNavActionsSlot {
  display: flex;
  align-items: center;

  > a {
    color: white;
    text-decoration: none;
    margin: 0 layout.$spacing-04;
  }
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
  border-bottom: 1px solid #a0a0a1;
  background-color: $ui-02;
}

.activePanel {
  @include brand-01(background-color);
}

.headerMenuButton {
  height: layout.$spacing-09;
  width: layout.$spacing-09;
  padding: layout.$spacing-04;
  margin-right: layout.$spacing-02;
}

.spacedLogo {
  margin-left: layout.$spacing-05;
}

svg {
  fill: $support-02 !important;
}

button[name='SearchPatientIcon'],
button[name='ImplementerToolsIcon'],
button[name='AddPatientIcon'],
button[name='User'],
button[name='AppMenuIcon'] {
  background-color: $ui-02;
  border-bottom: 1px solid $ui-04;
}
